<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- <link href="../public/stylesheets/style.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<script></script>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Login</h1>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputusername1">UserName</label>
                            <input type="username" name="userName" class="form-control" id="userName" aria-describedby="usernameHelp" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputusername1">Password</label>
                            <input type="password" name="passWord" id="passWord" class="form-control" aria-describedby="usernameHelp" placeholder="Enter Password" required>
                        </div>
                        <div class="alert alert-danger" role="alert" id="loginAlert">
                            <p style="text-align: center;" id="textAlert"></p>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" id="login">Login</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <p class="text-center">
                                <a href="/login/google" class="google btn mybtn"><i class="fa fa-google-plus">
              </i> Signup using Google
            </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $('#loginAlert').hide();
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('error');
        if (myParam !== null) {
            $('#textAlert').text("Vui Lòng Đăng nhập bằng tài khoản student")
            $('#loginAlert').show();
            setTimeout(function() {
                $('#loginAlert').hide();
            }, 1000);
            clearTimeout()
        }
        $('#login').click(() => {
            // if ($('#userName').val() === "" || $('#passWord').val() === "") {
            //     $('#textAlert').text("Tài Khoản hoặc mật khẩu không được để trống")
            //     $('#loginAlert').show();
            // setTimeout(function() {
            //     $('#loginAlert').hide();
            // }, 1000);
            // clearTimeout()
            // } else {
            var data = {
                // userName: $('#userName').val(),
                // passWord: $('#passWord').val()
                userName: "admin",
                passWord: "admin1"
            }
            var requestOptions = {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/json"
                }),
                body: JSON.stringify(data),
                redirect: 'follow'
            };

            fetch("http://localhost:5000/login", requestOptions)
                .then(response => response.json())
                .then(result => {
                    if (result.message) {
                        $('#textAlert').text(result.message)
                        $('#loginAlert').show();
                        setTimeout(function() {
                            $('#loginAlert').hide();
                        }, 1000);
                        clearTimeout()
                    } else {

                    }
                })
                .catch(error => console.log('error', error));
            // }
        })
    </script>
</body>